/* BELOW 1300px(Smaller Desktops)✅✅✅ */
@media screen and (max-width: 81.25em) {
  .hero {
    max-width: 100rem;
    gap: 12rem;
    padding: 0 2rem;
  }
}
/* ⛔️⛔️⛔️ */

/* BELOW 1100px(Smaller Desktops)✅✅✅ */
@media screen and (max-width: 68.75em) {
  .nav {
    padding: 0 6rem;
  }

  .hero {
    max-width: 90rem;
    gap: 12rem;
    padding: 0 1rem;
  }

  .hero-content h3 {
    font-size: 4rem;
  }

  .hero-content p {
    font-size: 1.4rem;
  }

  .btn--queries {
    font-size: 1.6rem !important;
  }
}
/* ⛔️⛔️⛔️ */

/* BELOW 900px(Tablets)✅✅✅ */
@media screen and (max-width: 56.25em) {
  .nav {
    margin-bottom: 2.5rem;
  }

  .hero {
    max-width: 70rem;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .hero-content h3 {
    font-size: 5.6rem;
    width: 70%;
  }

  .habits-contents {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }

  .extra-contents {
    gap: 6rem;
  }

  .extra-content p {
    margin-bottom: 2rem;
  }

  .extra-content-img {
    justify-content: flex-start;
  }

  .join-text-box {
    padding: 6rem 2rem 4rem 8rem;
  }

  .join-text-box h2 {
    font-size: 1.8rem;
  }

  .join-form label {
    font-size: 1.3rem;
  }

  .join-form input {
    width: 90%;
    font-size: 1.4rem;
  }

  .btn--form {
    font-size: 1.6rem;
  }

  .join-contents::after {
    top: 8%;
    left: -10%;
  }

  .bmi--grid {
    grid-template-columns: 1fr;
    justify-items: start;
    gap: 8rem;
  }

  .bmi-chart {
    width: 60%;
  }

  .bmi-calculate {
    width: 90%;
  }

  .bmi-chart h3 {
    margin-bottom: 1rem;
  }

  .bmi-calculate p {
    margin-bottom: 1rem;
  }

  .bmi-contents {
    padding: 2rem;
  }
}
/* ⛔️⛔️⛔️ */

/* BELOW 730px(Tablets)✅✅✅ */
@media screen and (max-width: 45.625em) {
  .nav {
    padding: 0 3rem;
  }

  .hero {
    max-width: 60rem;
    gap: 2rem;
  }

  .join-text-box h2 {
    font-size: 1.6rem;
  }

  .join-form {
    grid-template-columns: 1fr;
  }

  .join-contents {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .join-form input {
    width: 70%;
    font-size: 1.4rem;
  }

  .join-img {
    order: -1;
  }

  .join-text-box {
    padding: 3rem;
  }

  .join-contents::after {
    top: 6%;
    left: -10%;
  }

  .logo-col p {
    font-size: 1.3rem;
    width: 100%;
  }

  .bmi-head p {
    width: 70%;
  }

  .training-head p {
    max-width: 70%;
  }
}
/* ⛔️⛔️⛔️ */

/* BELOW 600px(Small-Tablets)✅✅✅ */
@media screen and (max-width: 37.5em) {
  .hero {
    max-width: 50rem;
    gap: 2rem;
  }

  .hero-content h3 {
    font-size: 5rem;
    width: 70%;
  }

  .hero-content p {
    margin-bottom: 4rem;
  }

  .bmi-chart {
    width: 70%;
  }

  .bmi-calculate {
    width: 100%;
  }

  .bmi-calculate p {
    width: 90%;
  }

  .form input,
  .form select {
    width: 90%;
  }

  .join-contents::after {
    top: 6%;
    left: -13%;
  }

  .footer-contents {
    grid-template-columns: 1fr;
    justify-items: start;
    gap: 4rem;
  }

  .nav-col h5 {
    font-size: 2.6rem;
  }

  .logo-col h2 {
    font-size: 6rem;
  }
}
/* ⛔️⛔️⛔️ */

/* BELOW 544px(Phones)✅✅✅ */
@media screen and (max-width: 34em) {
  .nav div {
    display: none;
  }

  .icon-mobile-nav {
    display: block;
    font-size: 5rem;
    cursor: pointer;
  }

  .nav h2 {
    font-size: 4rem;
  }

  .hero {
    max-width: 48rem;
    gap: 2.5rem;
  }

  .hero-content p {
    width: 90%;
  }

  .one {
    top: 10%;
    right: -8%;
  }

  .two {
    bottom: 42%;
    left: -5%;
  }

  .extra-content h3 {
    width: 70%;
  }

  .btn--extra {
    width: 70%;
    text-align: center;
  }

  .extra-content p {
    width: 95%;
  }

  .extra-content-img img {
    width: 100%;
  }

  .bmi-chart {
    width: 80%;
  }

  .join-form input {
    width: 85%;
    font-size: 1.6rem;
  }

  .join-contents::after {
    top: 5%;
    left: -16%;
  }

  .bmi-calculate--calculator {
    width: 95%;
  }

  .form input,
  .form select {
    width: 100%;
  }

  .training-head p {
    max-width: 80%;
  }

  .bmi-head p {
    width: 80%;
  }

  .team-head p {
    width: 75%;
  }
}
/* ⛔️⛔️⛔️ */

/* BELOW 470px(Mobile)✅✅✅ */
@media screen and (max-width: 29.375em) {
  .hero {
    max-width: 40rem;
  }

  .hero-content h3 {
    font-size: 4rem;
    width: 80%;
  }

  .extra-content-img img {
    width: 90%;
  }

  .bmi-head p {
    width: 90%;
  }

  .bmi-chart {
    width: 90%;
  }

  .join-contents::after {
    top: 5%;
    left: -22%;
  }

  .extra-content p {
    font-size: 1.3rem;
  }

  .extra-content p {
    width: 85%;
  }
}
/* ⛔️⛔️⛔️ */

/* BELOW 425px(Mobile-L)✅✅✅ */
@media screen and (max-width: 26.5625em) {
  .hero {
    max-width: 35rem;
  }

  .one {
    top: 20%;
    right: -2%;
  }

  .hero-more--number {
    font-size: 3rem;
  }

  .hero-more {
    padding: 1rem 1.2rem;
  }

  .hero-more--txt {
    font-size: 1.2rem;
  }

  .extra-content p {
    width: 80%;
  }

  .extra-content-img img {
    width: 80%;
  }

  .training-head p {
    max-width: 90%;
  }

  .bmi-chart th {
    font-size: 1.6rem;
  }

  .form input,
  .form select {
    padding: 0.8rem;
    font-size: 1.4rem;
  }

  .btn-calc {
    font-size: 1.8rem;
  }

  .team-head p {
    width: 85%;
  }

  .join-contents::after {
    top: 3%;
    left: -30%;
  }

  .join-text-box h2 {
    font-size: 1.4rem;
  }

  .logo-col h2 {
    font-size: 5rem;
  }

  .join-text-box {
    padding: 2rem;
  }

  .red-circle {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .play-icon {
    display: block;
    height: 70%;
    width: 70%;
    color: rgba(0, 0, 0, 0.6);
    --ionicon-stroke-width: 4.5rem;
  }
}
/* ⛔️⛔️⛔️ */

/* BELOW 375px(Mobile-M)✅✅✅ */
@media screen and (max-width: 23.4375em) {
  .hero {
    max-width: 30rem;
  }

  .btn--queries {
    font-size: 1.4rem !important;
    padding: 1rem 1.2rem !important;
    border-radius: 1rem !important;
  }

  .hero-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-img img {
    width: 90%;
  }

  .one {
    top: 20%;
    right: -6%;
  }

  .hero-more--number {
    font-size: 2.4rem;
  }

  .two .hero-more--number {
    font-size: 2.4rem;
  }

  .red-circle {
    width: 2.4rem;
    height: 2.4rem;
  }

  .hero-content h3 {
    font-size: 3.6rem;
    width: 85%;
  }

  .hero-content p {
    width: 95%;
  }

  .hero-content p {
    font-size: 1.4rem;
  }

  .habits-head p {
    text-align: start;
  }

  .extra-content p {
    font-size: 1.2rem;
  }

  .extra-content p {
    width: 70%;
  }

  .extra-content-img img {
    width: 70%;
  }

  .bmi-chart th {
    font-size: 1.4rem;
  }

  .bmi-chart th,
  .bmi-chart table {
    padding: 0.6rem 0.6rem;
  }

  .bmi-chart td {
    font-size: 1rem;
  }

  .bmi-calculate p {
    font-size: 1.2rem;
  }

  .form input,
  .form select {
    padding: 0.6rem;
    font-size: 1.2rem;
  }

  .form-contents {
    gap: 1rem;
  }

  .join-head {
    font-size: 2.2rem;
    text-align: start;
  }

  .join-contents::after {
    top: 4%;
    left: -32%;
  }

  .join-form input {
    width: 90%;
    font-size: 1.2rem;
  }
}
/* ⛔️⛔️⛔️ */
